@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?80205240");
  src: url("../font/fontello.eot?80205240#iefix") format('embedded-opentype'), url("../font/fontello.woff?80205240") format('woff'), url("../font/fontello.ttf?80205240") format('truetype'), url("../font/fontello.svg?80205240#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
i:before,
#entry.list .list_item:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  vertical-align: top;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 3rem;
}
body {
  background: url("../img/bg_pink.png");
  position: relative;
}
body h2,
body p,
body li {
  color: #574b00;
}
#wrapper {
  position: relative;
}
#mainContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
}
#mainContainer #mainContent {
  position: relative;
  z-index: 10;
  background: url("../img/bg_dot.png");
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.3);
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#mainContainer #mainContent .recipeNum {
  display: none;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
  background: url("../img/count.png");
  width: 142px;
  height: 142px;
  position: absolute;
}
#mainContainer #mainContent .recipeNum div {
  display: block;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  font-weight: bold;
  text-align: right;
  position: absolute;
  top: 35px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#mainContainer #mainContent .recipeNum div span {
  font-size: 20px;
}
#mainContainer #mainContent .page {
  position: relative;
  margin: 10px auto;
  height: 100%;
}
#header {
  background: #ec5176;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.3);
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
#header header {
  max-width: 1240px;
  margin: 0 auto;
}
#header header .control {
  display: block;
}
#header header .control:first-child {
  float: left;
}
#header header .control:last-child {
  float: right;
}
#header header .control > span {
  color: #fff;
  padding: 4px 8px;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#header header .control > span span {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 2px 0;
}
#header header .control > span:hover {
  background-color: rgba(146,8,58,0.3);
  border: 1px solid rgba(146,8,58,0.1);
}
#header header .control > span.active {
  background-color: rgba(146,8,58,0.8);
  border: 1px solid rgba(146,8,58,0.3);
}
#header header .control > span i:before {
  line-height: 28px;
  font-size: 1.6rem;
  color: #fff;
}
#header header .control .button {
  cursor: pointer;
}
#header header .control #search i:before {
  content: '\e800';
}
#header header .control #toGrid i:before {
  content: '\e800';
}
#header header .control #toList i:before {
  content: '\e801';
}
#title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  z-index: 2000;
  margin: 30px auto;
}
#title img {
  height: 160px;
}
#entry {
  display: none;
  margin: 10px 30px;
  background-color: rgba(231,222,222,0.7);
  -webkit-box-shadow: 0px -1px 8px rgba(0,0,0,0.1) inset;
  box-shadow: 0px -1px 8px rgba(0,0,0,0.1) inset;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  position: relative;
  z-index: 10;
}
#entry.grid {
  padding: 6px;
  clear: both;
}
#entry.grid:after {
  content: ' ';
  display: table;
  clear: both;
}
#entry.grid .list_item {
  float: left;
  width: 25%;
  padding-top: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}
#entry.grid .list_item:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#entry.grid .list_item .dish {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
#entry.grid .list_item .dish .img_wrapper:after {
  position: absolute;
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: rotate(10deg);
  background: url("../img/zoom.svg");
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#entry.grid .list_item .dish .img_wrapper:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#entry.grid .list_item .dish .img_wrapper img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#entry.grid .list_item .dish .img_wrapper img:hover:after {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
#entry.grid .list_item .dish .img_wrapper img,
#entry.grid .list_item .dish .img_wrapper .loading {
  width: 94%;
  height: 94%;
  margin-top: -47.5%;
  margin-left: -47%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 150;
  -moz-transition: opacity 150;
  -o-transition: opacity 150;
  -ms-transition: opacity 150;
  transition: opacity 150;
}
#entry.grid .list_item .dish .img_wrapper .loading {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background: #e7dede url("../img/loading.png") 50% 0 no-repeat;
}
#entry.grid .list_item .dish .img_wrapper .loading0.1 {
  background: #e7dede url("../img/loading.png") 50% 25% no-repeat;
}
#entry.grid .list_item .dish .img_wrapper .loading0.10.2 {
  background: #e7dede url("../img/loading.png") 50% 50% no-repeat;
}
#entry.grid .list_item .dish .img_wrapper .loading0.10.20.3 {
  background: #e7dede url("../img/loading.png") 50% 75% no-repeat;
}
#entry.grid .list_item .dish .titles,
#entry.grid .list_item .dish .meta {
  display: none;
}
#entry.list {
  padding: 6px;
}
#entry.list .list_item {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}
#entry.list .list_item:after {
  display: block;
  content: '\e807';
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  text-align: right;
  margin-left: -15px;
  margin-top: -1.5rem;
  color: rgba(218,205,205,0.7);
}
#entry.list .list_item:hover:after,
#entry.list .list_item.active:after {
  color: #c5aaa1;
}
#entry.list .list_item .dish {
  display: -webkit-box;
  text-align: left;
}
#entry.list .list_item .dish .img_wrapper {
  display: none;
}
#entry.list .list_item .dish .titles {
  display: block;
  vertical-align: middle;
  min-width: 120px;
  height: 100%;
  -webkit-box-flex: 1;
  margin-right: 40px;
  padding: 12px 0 0 14px;
}
#entry.list .list_item .dish .titles h2 {
  font-size: 1.8rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#entry.list .list_item .dish .titles .description {
  font-size: 1.4rem;
  margin: 6px 0px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#entry.list .list_item .dish .meta {
  display: block;
  vertical-align: middle;
  width: 500px;
  height: 90px;
  border-left: 1px dashed #dacac5;
  padding: 8px 0 0 14px;
}
#entry.list .list_item .dish .meta .category,
#entry.list .list_item .dish .meta .ingradient,
#entry.list .list_item .dish .meta .time {
  margin: 10px 0;
  display: block;
  height: 14px;
  line-height: 14px;
}
#entry.list .list_item .dish .meta .category li,
#entry.list .list_item .dish .meta .ingradient li,
#entry.list .list_item .dish .meta .time li,
#entry.list .list_item .dish .meta .category p,
#entry.list .list_item .dish .meta .ingradient p,
#entry.list .list_item .dish .meta .time p {
  display: inline-block;
  margin-right: 8px;
  font-size: 1.2rem;
}
#entry.list .list_item .dish .meta .category span:before {
  content: '種類';
  background-color: #c79268;
  color: #fff;
  padding: 2px 3px 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8rem;
  margin-right: 5px;
}
#entry.list .list_item .dish .meta .ingradient span:before {
  color: #fff;
  content: '材料';
  background-color: #87b960;
  padding: 2px 3px 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8rem;
  margin-right: 5px;
}
#entry.list .list_item .dish .meta .time i:before {
  color: #c9bb69;
  content: '\e805';
  margin-top: 2px;
  margin-right: 5px;
  font-size: 1.4rem;
}
#copyright {
  text-align: center;
  padding: 0 0 80px;
}
#copyright small {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(156,134,134,0.7);
}
@media screen and (max-width: 840px) {
  #entry {
    margin: 10px;
  }
  #entry.list .list_item .dish .meta {
    display: none;
  }
  #entry.list .list_item .dish .img_wrapper {
    margin: 1%;
  }
}
@media screen and (max-width: 600px) {
  #entry.list .list_item .dish .img_wrapper {
    margin: 1.4%;
  }
  #entry.grid .list_item {
    width: 50%;
    padding-top: 50%;
  }
}
