extends layout

block content
	wrapper
		div#header
			header
				//- .control
				//- 	span#search
				//- 		i
				//- 	span#toCat.button
				//- 		種類から検索
				//- 	span#toIng.button
				//- 		材料から検索
				.control
					span#toGrid.button.active
						i
						//- span 画像
					span#toList.button
						i
						//- span 詳細
		div#catContainer

		div#mainContainer
			section#mainContent
				.recipeNum
				.page
					#title
						h1
							a(href="http://www.recipe.ajimaharuka.com/")
								img(src="img/logo.png")
					#entry.grid
				.footer
					p#copyright
						small Copyright © 2013 Ajima Haruka All Rights Reserved.